<div class="col-xs-3 p-a-1">
    <button class="btn btn-block btn-outline-primary"
            [class.active]="selectedCategory?false:true"
            (click)="changeCategory(0)" >
        ALL
    </button>
    <button *ngFor="let cat of categoriesData" class="btn btn-outline-primary btn-block"
            [class.active]="selectedCategory?cat.id == selectedCategory.id:false"
            [sh-context]="items"
            [sh-data-context]="{'id':cat.id, 'dataObject':this}"
            (click)="changeCategory(cat.id)" >
        {{cat.name}}
    </button>
    <button class="btn btn-block btn-warning" [(innerHTML)]="operation" (click)="operationCategory()"></button>
    <input class="form-control" name="newcat" [(ngModel)]="newCategory"/>
</div>