<div class="col-xs-3 p-a-1">
    <table>
        <tr *ngFor="let prod of productsDataFiltered">
            <td>
                <button class="btn btn-outline-primary btn-block"
                    [class.active]="selectedProduct?prod.id == selectedProduct.id:false"
                    [sh-context]="items"
                    [sh-data-context]="{'id':prod.id, 'dataObject':this}"
                    (click)="selectProduct(prod.id)" >
                    {{prod.name}}
                </button>                
            </td>
            <td>
                <button class="btn btn-outline-primary btn-block"
                    [class.active]="true"
                    (click)="addProductToOrder(prod.id)" >
                    <fa [name]="'plus'" [size]="1" ></fa>
                </button>                                
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-block btn-warning" (click)="operationProduct()"
                    [(innerHTML)]="operation"
                    [disabled]="(selectedCategoryId==0)&&(operation==operationAdd)" >
                </button>
                <input class="form-control" name="newprod" 
                    [disabled]="(selectedCategoryId==0)&&(operation==operationAdd)"
                    [(ngModel)]="newProduct"/>                
            </td>
        </tr>
    </table>
</div>